In [14]:
from parse import load_dataframes
import pandas as pd
import numpy as np


# 매출액
df_sales = pd.read_csv('../data/추정매출.csv')
df_sales.rename(columns={
    '기준_년_코드':'year',
    '기준_분기_코드':'quarter',
    '상권_구분_코드':'code',
    '상권_구분_코드_명':'code_name',
    '상권_코드':'road',
    '상권_코드_명':'road_name',
    '서비스_업종_코드':'medium_category',
    '서비스_업종_코드_명':'medium_name',
    '당월_매출_금액':'month_sales',
    '당월_매출_건수':'month_sales_count',
    '주중_매출_비율':'week_rate',
    '주말_매출_비율':'weekend_rate',
    '월요일_매출_비율':'mon_rate',
    '화요일_매출_비율':'tue_rate',
    '수요일_매출_비율':'wed_rate',
    '목요일_매출_비율':'thr_rate',
    '금요일_매출_비율':'fri_rate',
    '토요일_매출_비율':'sat_rate',
    '일요일_매출_비율':'sun_rate',
    '시간대_00~06_매출_비율':'time1_rate',
    '시간대_06~11_매출_비율':'time2_rate',
    '시간대_11~14_매출_비율':'time3_rate',
    '시간대_14~17_매출_비율':'time4_rate',
    '시간대_17~21_매출_비율':'time5_rate',
    '시간대_21~24_매출_비율':'time6_rate',
    '남성_매출_비율':'men_rate',
    '여성_매출_비율':'women_rate',
    '연령대_10_매출_비율':'teen_rate',
    '연령대_20_매출_비율':'twenty_rate',
    '연령대_30_매출_비율':'thirty_rate',
    '연령대_40_매출_비율':'fourty_rate',
    '연령대_50_매출_비율':'fifty_rate',
    '연령대_60_이상_매출_비율':'sixty_rate',
    '주중_매출_금액':'week_sales',
    '주말_매출_금액':'weekend_sales',
    '월요일_매출_금액':'mon_sales',
    '화요일_매출_금액':'tue_sales',
    '수요일_매출_금액':'wed_sales',
    '목요일_매출_금액':'thr_sales',
    '금요일_매출_금액':'fri_sales',
    '토요일_매출_금액':'sat_sales',
    '일요일_매출_금액':'sun_sales',
    '시간대_00~06_매출_금액':'time1_sales',
    '시간대_06~11_매출_금액':'time2_sales',
    '시간대_11~14_매출_금액':'time3_sales',
    '시간대_14~17_매출_금액':'time4_sales',
    '시간대_17~21_매출_금액':'time5_sales',
    '시간대_21~24_매출_금액':'time6_sales',
    '남성_매출_금액':'men_sales',
    '여성_매출_금액':'women_sales',
    '연령대_10_매출_금액':'teen_sales',
    '연령대_20_매출_금액':'twenty_sales',
    '연령대_30_매출_금액':'thirty_sales',
    '연령대_40_매출_금액':'fourty_sales',
    '연령대_50_매출_금액':'fifty_sales',
    '연령대_60_이상_매출_금액':'sixty_sales',
    '점포수':'store_cnt'
},inplace=True)
sales_group = df_sales.loc[df_sales['code'] == "A", :].groupby(["road","road_name"])
sales_group.head()

,year,quarter,code,code_name,road,road_name,medium_category,medium_name,month_sales,month_sales_count,...,time6_sales,men_sales,women_sales,teen_sales,twenty_sales,thirty_sales,fourty_sales,fifty_sales,sixty_sales,store_cnt
0,2019,2,A,골목상권,1000001,계동길,CS100001,한식음식점,690907504,19840,...,41163339,270840565,239459439,1471316,57967478,149033313,118571049,110848535,72408316,17
1,2019,2,A,골목상권,1000001,계동길,CS100002,중식음식점,45229622,2447,...,329497,15657434,27522161,5480495,10146461,6370332,12329245,6653272,2199789,1
2,2019,2,A,골목상권,1000001,계동길,CS100004,양식음식점,153713419,2928,...,6631871,50490114,73926824,827789,28815026,37068213,26909573,19243136,11553201,4
3,2019,2,A,골목상권,1000001,계동길,CS100005,분식전문점,153756992,11279,...,0,57325228,74941064,2114536,27296545,39446467,31147914,23780925,8479904,6
4,2019,2,A,골목상권,1000001,계동길,CS100006,패스트푸드점,53945030,4095,...,0,20835538,28243919,1309353,15536060,11275445,12467382,6370491,2120728,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20186,2019,2,A,골목상권,1001010,풍성로37가길,CS100001,한식음식점,156939055,7735,...,8547929,76445227,68076457,274927,12481169,31618915,40117076,34020453,26009146,12
20187,2019,2,A,골목상권,1001010,풍성로37가길,CS100005,분식전문점,26509827,3787,...,3398939,13889257,8644097,0,6239277,1978769,7593172,3881796,2840338,3
20188,2019,2,A,골목상권,1001010,풍성로37가길,CS100009,커피·음료,38020282,7979,...,47977,18010839,19147976,159638,6034692,10585428,11421241,6419302,2538514,3
20189,2019,2,A,골목상권,1001010,풍성로37가길,CS100010,호프·간이주점,74078898,2715,...,50250994,59876287,11552786,140897,12147301,14039225,12328641,24399565,8373445,3
20190,2019,2,A,골목상권,1001010,풍성로37가길,CS200001,일반교습학원,171715404,639,...,24961735,42474411,129240993,0,10954041,34655850,91846634,29846835,4412044,4

In [38]:
# 각 골목상권의 매출 비율을 뽑아본다.
mean_sales = sales_group.mean().loc[:,[
    'week_rate','weekend_rate',
    'mon_rate','tue_rate','wed_rate','thr_rate','fri_rate','sat_rate','sun_rate',
    'men_rate','women_rate',
    'time1_rate','time2_rate','time3_rate','time4_rate','time5_rate','time6_rate',
    'teen_rate','twenty_rate','thirty_rate','fourty_rate','fifty_rate','sixty_rate'
]].reset_index()
mean_sales

,road,road_name,week_rate,weekend_rate,mon_rate,tue_rate,wed_rate,thr_rate,fri_rate,sat_rate,...,time3_rate,time4_rate,time5_rate,time6_rate,teen_rate,twenty_rate,thirty_rate,fourty_rate,fifty_rate,sixty_rate
0,1000001,계동길,66.750000,33.312500,13.312500,12.937500,12.062500,12.750000,15.937500,19.125000,...,30.000000,36.125000,25.312500,2.500000,3.062500,18.000000,21.062500,25.125000,20.812500,12.312500
1,1000002,난계로27길,77.312500,22.750000,16.312500,18.125000,12.250000,16.875000,13.750000,11.812500,...,23.062500,27.000000,20.312500,9.500000,0.500000,28.625000,20.875000,14.937500,19.062500,16.312500
2,1000003,돈화문로11가길,81.619048,18.380952,12.904762,17.190476,13.000000,14.714286,24.047619,13.047619,...,29.285714,18.047619,32.190476,9.238095,0.238095,19.714286,22.666667,24.523810,22.476190,10.571429
3,1000004,명륜길,75.411765,24.764706,15.058824,16.411765,15.294118,15.058824,13.764706,16.882353,...,28.411765,22.470588,29.058824,9.058824,5.941176,48.176471,13.235294,10.352941,13.470588,9.176471
4,1000005,백석동길,57.083333,43.000000,7.000000,12.416667,14.416667,9.166667,14.000000,26.166667,...,25.833333,23.833333,36.833333,8.083333,1.250000,19.916667,27.916667,22.250000,17.416667,11.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1001006,천호대로197길,78.041667,22.083333,14.666667,16.416667,17.500000,14.458333,15.208333,13.750000,...,19.208333,24.875000,37.083333,11.375000,0.625000,8.916667,13.791667,29.500000,31.250000,16.000000
1006,1001007,천호대로219길,79.640000,20.520000,15.160000,15.160000,16.240000,14.880000,18.600000,13.080000,...,24.520000,19.080000,30.200000,14.440000,4.480000,10.920000,18.240000,26.120000,28.120000,12.200000
1007,1001008,천호옛14길,71.434783,28.652174,12.739130,15.043478,12.086957,16.391304,15.217391,16.739130,...,18.913043,17.956522,32.304348,19.130435,1.391304,25.652174,26.304348,24.608696,13.956522,8.130435
1008,1001009,천호옛길,73.652174,26.478261,14.217391,13.739130,15.130435,13.782609,17.000000,20.304348,...,18.956522,23.695652,29.173913,7.173913,0.869565,12.304348,20.304348,24.652174,23.086957,18.956522
1009,1001010,풍성로37가길,76.777778,23.388889,17.055556,14.722222,15.500000,12.777778,16.611111,16.500000,...,22.611111,24.388889,33.722222,8.888889,0.944444,11.777778,18.277778,22.611111,23.722222,22.444444

In [20]:
# 각 골목상권의 월평균 매출액을 지표로 뽑아본다.
sum_sales = sales_group.sum().loc[:,[
    'month_sales','week_sales','weekend_sales',
    'mon_sales','tue_sales','wed_sales','thr_sales','fri_sales','sat_sales','sun_sales',
    'time1_sales','time2_sales','time3_sales','time4_sales','time5_sales','time6_sales',
    'men_sales','women_sales',
    'teen_sales','twenty_sales','thirty_sales','fourty_sales','fifty_sales','sixty_sales',
    'store_cnt'
]]
sum_sales

,,month_sales,week_sales,weekend_sales,mon_sales,tue_sales,wed_sales,thr_sales,fri_sales,sat_sales,sun_sales,...,time6_sales,men_sales,women_sales,teen_sales,twenty_sales,thirty_sales,fourty_sales,fifty_sales,sixty_sales,store_cnt
road,road_name,,,,,,,,,,,,,,,,,,,,,
1000001,계동길,3562091649,2484920135,1077171514,464202799,465964198,517896819,489745290,547111029,655160948,422010566,...,203202869,1234211257,1925269042,48939449,465541694,745089926,714367274,678297038,507244930,118
1000002,난계로27길,4890392096,3413299175,1477092921,679368377,711420935,664207844,746010806,612291213,756261453,720831468,...,350125120,2018965199,2160216281,10111275,683270257,754932381,846717295,967806604,916343666,72
1000003,돈화문로11가길,5219018592,4024663465,1194355127,594048308,830363561,798657743,942611391,858982462,817036790,377318337,...,750453066,2370358995,1956583168,9315328,793079551,1081229854,1136603333,830839383,475874720,158
1000004,명륜길,3368636870,2561975258,806661612,507383346,503311708,489517811,527861895,533900498,454120616,352540996,...,407590863,1839104018,1395615154,145055635,1451622925,399886131,421878091,506296257,309980133,84
1000005,백석동길,2386839662,1395535391,991304271,176595361,326050161,274249367,296505886,322134616,530666819,460637452,...,214075480,997546004,1069173284,13685192,408366572,505479457,507544182,407787531,223856359,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001006,천호대로197길,3085221433,2208544966,876676467,517290509,363865554,492286877,418470751,416631275,474923937,401752530,...,297122715,1392823107,1389352245,5340891,158940769,489860893,864245334,755320065,508467401,110
1001007,천호대로219길,3570131558,2847114154,723017404,559833896,563423385,561267897,584103226,578485750,524241749,198775655,...,489257928,2081545136,1277489756,58024602,320028845,552183218,904450121,980669430,543678677,100
1001008,천호옛14길,7183290544,4666573326,2516717218,863892542,817101581,922802005,996012544,1066764654,1388207826,1128509392,...,2220199477,4114771014,2902601101,77980790,1969231571,2008187718,1404633217,980658272,576680549,137
1001009,천호옛길,2462784449,1920903705,541880744,326478702,415049879,391470969,372265750,415638405,341450374,200430370,...,233120214,1392688317,1002317004,7221559,235567120,655005116,580290701,439649814,477271009,130
1001010,풍성로37가길,2837220866,2458366022,378854844,569662069,479520062,484945264,468464384,455774243,262929853,115924991,...,194098226,1528113948,1244702872,7611219,191319312,423799793,621717591,594333441,934035466,70

In [33]:
# 모든 길의 지점당 월평균 매출액
# 만약 지점당 하지 않고 전체 지역으로 한다면 이 과정은 거치지 않아도 된다!
devide_on_store_cnt = sum_sales.apply(lambda x: (x / 10000) / sum_sales['store_cnt'],axis=0).reset_index()
devide_on_store_cnt

,road,road_name,month_sales,week_sales,weekend_sales,mon_sales,tue_sales,wed_sales,thr_sales,fri_sales,...,time6_sales,men_sales,women_sales,teen_sales,twenty_sales,thirty_sales,fourty_sales,fifty_sales,sixty_sales,store_cnt
0,1000001,계동길,3018.721736,2105.864521,912.857215,393.392203,394.884914,438.895609,415.038381,463.653414,...,172.205821,1045.941743,1631.583934,41.474109,394.526859,631.432141,605.395995,574.827998,429.868585,0.0001
1,1000002,난계로27길,6792.211244,4740.693299,2051.517946,943.567190,988.084632,922.510894,1036.126119,850.404463,...,486.284889,2804.118332,3000.300390,14.043438,948.986468,1048.517196,1175.996243,1344.175839,1272.699536,0.0001
2,1000003,돈화문로11가길,3303.176324,2547.255358,755.920966,375.979942,525.546558,505.479584,596.589488,543.659786,...,474.970295,1500.227212,1238.343777,5.895777,501.949083,684.322692,719.369198,525.847711,301.186532,0.0001
3,1000004,명륜길,4010.281988,3049.970545,960.311443,604.027793,599.180605,582.759299,628.407018,635.595831,...,485.227218,2189.409545,1661.446612,172.685280,1728.122530,476.054918,502.235823,602.733639,369.023968,0.0001
4,1000005,백석동길,5304.088138,3101.189758,2202.898380,392.434136,724.555913,609.443038,658.901969,715.854702,...,475.723289,2216.768898,2375.940631,30.411538,907.481271,1123.287682,1127.875960,906.194513,497.458576,0.0001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1001006,천호대로197길,2804.746757,2007.768151,796.978606,470.264099,330.786867,447.533525,380.427955,378.755705,...,270.111559,1266.202825,1263.047495,4.855355,144.491608,445.328085,785.677576,686.654605,462.243092,0.0001
1006,1001007,천호대로219길,3570.131558,2847.114154,723.017404,559.833896,563.423385,561.267897,584.103226,578.485750,...,489.257928,2081.545136,1277.489756,58.024602,320.028845,552.183218,904.450121,980.669430,543.678677,0.0001
1007,1001008,천호옛14길,5243.277769,3406.257902,1837.019867,630.578498,596.424512,673.578106,727.016455,778.660331,...,1620.583560,3003.482492,2118.686935,56.920285,1437.395307,1465.830451,1025.279720,715.808958,420.934707,0.0001
1008,1001009,천호옛길,1894.449576,1477.618235,416.831342,251.137463,319.269138,301.131515,286.358269,319.721850,...,179.323242,1071.298705,771.013080,5.555045,181.205477,503.850089,446.377462,338.192165,367.131545,0.0001
1009,1001010,풍성로37가길,4053.172666,3511.951460,541.221206,813.802956,685.028660,692.778949,669.234834,651.106061,...,277.283180,2183.019926,1778.146960,10.873170,273.313303,605.428276,888.167987,849.047773,1334.336380,0.0001

In [39]:
# 이제 동별 매출액으로 합쳐보자!
data = load_dataframes()
ro = data['area'].loc[data['area']['dong'] == '신사동',['road_name']]
ro
# 신사동에 포함되는 길들의 평균 매출액부터 구해보자.
road_sales = pd.merge(ro, devide_on_store_cnt, on="road_name")
# 월평균매출액(각 길들에 대한 총 평균)
print(road_sales.mean())
# 월평균 매출 추이
road_rate = pd.merge(ro, mean_sales, on="road_name")
print(road_rate.mean())

month_sales      4953.281182
week_sales       3492.176834
weekend_sales    1461.104348
mon_sales         624.259480
tue_sales         692.457130
wed_sales         737.312233
thr_sales         693.228418
fri_sales         744.919572
sat_sales         850.678241
sun_sales         610.426108
time1_sales       373.449404
time2_sales       336.815798
time3_sales       833.418989
time4_sales      1023.607766
time5_sales      1576.755328
time6_sales       809.233896
men_sales        2369.408561
women_sales      2371.243040
teen_sales         34.178119
twenty_sales     1347.163291
thirty_sales     1289.158129
fourty_sales      975.348229
fifty_sales       708.499983
sixty_sales       386.331173
store_cnt           0.000100
dtype: float64
week_rate       75.081917
weekend_rate    25.003862
mon_rate        13.785613
tue_rate        15.187348
wed_rate        15.369296
thr_rate        13.654164
fri_rate        17.275859
sat_rate        15.741047
sun_rate         9.323790
men_rate        50.257839
women_rate      49.805187
time1_rate       4.824626
time2_rate       5.465593
time3_rate      21.177087
time4_rate      22.224128
time5_rate      33.481666
time6_rate      13.011434
teen_rate        0.911725
twenty_rate     24.423763
thirty_rate     25.653746
fourty_rate     22.933777
fifty_rate      17.200847
sixty_rate       9.075031
dtype: float64